name: npm-pkg-lint

on: [push, pull_request]

permissions:
  contents: read

jobs:
  npm-pkg-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
      - name: Install Dependencies
        run: npm ci
      - name: npm-pkg-lint
        uses: ext/npm-pkg-lint@master
        with:
          ignore-node-version: 18
